/* Estilos para el header */
#header {
    background-color: #3f3f3f;
    padding: 0;
    margin: 0;
    border: 0;
}

/* NAVBAR COMPLETE */
.navbar-complete {
    background-color: #3f3f3f;
}

/* Estilos para elementos dentro de .container-fluid */
#header .container-fluid .navbar-brand {
    height: 60px;
    background-color: #3f3f3f;
    display: flex;
    padding: 5px;
}

#header .container-fluid #navbarNav  {
    background-color: #3f3f3f;
    color: #ffffff;
    justify-content: center;
    align-content: center;
    display: flex;
}

.nav-link {
    color: #ffffff;
    font-family: "Montserrat", sans-serif;
    font-weight: 40px;

}

.redes-sociales-iconos {
    text-decoration-color: #ffffff ;
    text-decoration-line: none;

}

.red-social {
    color: #ffffff;
    text-decoration-line: none;

}

.presentacion {
    color: #ffffff;
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    font-size: 60px;
    display: flex;
    justify-content: center; /* Centra horizontalmente */
    align-items: center; /* Centra verticalmente */
    
}

.subtitulo-presentacion {
    color: #ffffff;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 17px;
    display: flex;
    justify-content: center; /* Centra horizontalmente */
    align-items: center; /* Centra verticalmente */
}

.retrato-portada {
    display: flex;
    width: 300px;
}